@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Raleway:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: Raleway; }

.wrapper {
  margin: 0 auto; }

.container {
  margin: 0 auto;
  max-width: 1910px;
  padding: 0px 5px; }

.header {
  background-image: url(.././img/Layer.png); }

.header-body {
  position: relative;
  margin: 0 auto;
  max-width: 1200px; }

.header-top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .list li {
    margin: 0px 20px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400; }
    .list li a {
      color: #FFFFFF; }
      .list li a:hover {
        -webkit-text-decoration: underline red;
        text-decoration: underline red;
        -webkit-transition: 0.3;
        -o-transition: 0.3;
        transition: 0.3;
        text-shadow: red 3px 1px 3px; }

.info-text {
  max-width: 900px;
  padding: 150px 0px 0px 0px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

.header-text {
  padding: 50px 0px 0px 0px;
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin-top: 5px; }
  .header-text :last-child {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin: 40px 0px 55px 0px; }

.link {
  display: inline-block;
  background-color: red;
  padding: 20px 40px;
  margin-bottom: 20px; }
  .link a {
    color: #FFFFFF; }

.burger {
  display: none; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 0px 80px 0px; }

.column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 33.333%;
  -ms-flex: 33.333%;
  flex: 33.333%;
  padding: 0px 5px;
  margin: 30px 0px;
  font-family: Raleway; }

.column-img img {
  max-width: 100%; }

.title {
  font-weight: bold;
  line-height: 50px;
  color: #6C7279; }

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 40px; }
  .gallery .image {
    overflow: hidden;
    padding: 2px; }
    .gallery .image img {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }

.more {
  display: none;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  background-color: red;
  padding: 10px 50px;
  margin-bottom: 30px;
  border-radius: 30px 30px 30px / 30px 30px 30px; }

.pupil {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 5px; }

.image {
  padding: 0px 0px 20px 0px; }

.pupil-title {
  text-align: left;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 2px;
  line-height: 50px; }

.subtitle {
  color: red;
  padding: 0px 0px 20px 0px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px; }
  .social .second {
    margin: 0px 7px; }
  .social .social-link {
    border: 2px solid #E8ECEE; }
  .social img {
    display: block;
    padding: 10px; }

.swipe .swiper-container {
  width: 100%;
  margin: 70px 0px; }
  .swipe .swiper-container .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #53354A; }
    .swipe .swiper-container .swiper-slide img {
      width: 50%;
      height: 100%; }
    .swipe .swiper-container .swiper-slide .slider-text {
      padding: 30px 10px 0px 30px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #FFFFFF;
      margin-bottom: 0 auto; }
      .swipe .swiper-container .swiper-slide .slider-text :first-child {
        color: #FFFFFF;
        font-size: 36px;
        margin-bottom: 10px; }

.swiper-pagination {
  padding: 0px 0px 10px 500px; }

.swiper-button-next::after, .swiper-button-prev::after {
  color: #FFFFFF;
  font-size: 80px; }

.swiper-container .swiper-pagination-bullet {
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.download .info-text {
  max-width: 900px;
  padding: 0px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

.download .header-text {
  font-size: 28px;
  color: #000;
  font-weight: 400;
  padding: 0px; }
  .download .header-text :last-child {
    font-weight: 400;
    font-size: 13px;
    margin: 30px; }

.download .link {
  display: inline-block;
  background-color: red;
  padding: 20px 100px; }
  .download .link a {
    color: #FFFFFF; }

.bottom {
  margin-top: 100px; }

.footer {
  height: 250px;
  background-color: #3A3E64; }

.footer-content {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-content .column {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-family: Raleway;
    width: 33.333%; }
    .footer-content .column .social {
      padding: 0px; }
    .footer-content .column .title {
      color: #FFFFFF;
      line-height: 50px; }
    .footer-content .column .subtitle {
      color: #707070; }

.location, .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.bottom-info {
  background-color: #313454;
  height: 100px; }

.bottom-text {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 20px;
  padding-top: 35px;
  display: block;
  margin: 0px auto;
  color: #808080;
  text-align: center; }
  .bottom-text span {
    font-weight: 700;
    color: #FFFFFF; }
